
.f{
    background-color: $gray;
    padding: 10px;
    margin: 20px 0px;
    .app-wrapper{
        
        width: 360px;
        background-color: $green;
        padding: 10px 20px;
        margin: auto;
        height: 400px;
        border-radius: 20px;
        h2{
            font-size: 22px;
            letter-spacing: 1px;
            color: white;
            margin: 10px 0px;
            padding: 10px;
        }
        .name{
            margin: 30px 0px 5px 0px;
            .label{
                display: block;
                color: white;
                font-size: 20px;
                margin-bottom: 10px;
            }
            input{
                width: 80%;
                outline: none;
                border: none;
                line-height: 33px;
                border-radius: 10px;
            }
        }
        .password{
            margin: 10px 0px 5px 0px;
            .label{
                display: block;
                color: white;
                font-size: 20px;
                margin-bottom: 10px;
            }
            input{
                width: 80%;
                outline: none;
                margin-bottom: 10px;
                border: none;
                line-height: 33px;
                border-radius: 10px;
            }
        }
        button{
            background-color: white;
            border: none;
            padding: 5px 15px;
            border-radius: 20px;
        }
        
    }

}