* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}

ul {
    list-style: none;
}
.container{
    max-width: 1220px !important;
    padding: 0px 20px;
    margin: auto;
}

/*header*/
.top{
    background-color: $gray;
    padding: 10px 0px;
    
.top-bar{
    .top-header-left{
        .content{
            font-size: 13px;
            padding: 5px;
            font-weight: 400;
            @include responsive1{
                font-size: 13px;
                font-weight: 400;
                padding-left: 40px;

            }
            @include responsive2{
                text-align: center;
            }
            @include responsive3{
                text-align: center;
                font-size: 16px;
            }
        }
    }
    .top-header-right{
        .content-social{
            .socialicon{
                @include responsive1{
                    padding-left: 40px;
                }
                @include responsive2{
                    padding: 0px 100px 0px 20px;
                }
                @include responsive3{
                    padding: 0px 10px 0px 100px;
                }
                
                li{
                    padding: 5px 6px;
                    transition: 1s;
                    i{
                        font-size: 14px;
                        color: black;
                        @include responsive1{
                            font-size: 13px;
                            
                        }
                        @include responsive2{
                            font-size: 15px;
                            padding: 0px 10px;
                        }
                        @include responsive3{
                            font-size: 18px;
                            padding: 0px 15px;
                        }
                        &:hover{
                            color: #7FBA32 !important;
                        }
                        
                    }
                    &:hover{
                       
                        transform: rotate(360deg);
                        
                    }
                  
                }
              
            }

        }

    }

}
}
.main-header{
    .bg-light{
        background-color: white !important;
    }
    .logo{
        padding: 27px 0px;
        @include responsive1{
            width: 95px;
        }
    }
    .active{
        color: $green !important;
        
    }
    .navbar-expand-lg .navbar-nav .nav-link {
       
        padding: 12px 20px 12px 0px;
        font-size: 16px;
        font-weight: bold;
        color: black;
    }
    .main-tel{
        .main-icon{
            .fa-phone{
                font-size: 23px;
                padding: 9px 0px 0px 0px;
            }
        }
        .main-content{
            font-size: 13px;
            padding-left: 15px;
            .tel{  
                a{
                    font-size: 13px;
                    color: black;
                }
            }
            .email{
                a{
                    font-size: 13px;
                    color: black;
                }

            }
        }
    }
}
.below-header{
    
    .below-bar{
        .col-lg-2{
           @include responsive1{
            width: 62px;
           }
           @include responsive2{
            width: 50px;
            margin-left: 20px;
           }
           @include responsive3{
            width: 50px;
           }
           @include responsive4{
            width: 50px;
           }
        }
        .col-lg-7{
            @include responsive1{
                width: 250px;
               }
               @include responsive2{
                width: 300px;
               }
               @include responsive3{
                width: 500px;
               }
              


        }
        .menulist{
            background-color: $green;
            padding: 5px 15px;
            color: white;
            border-radius: 5px;
            line-height: 35px;
            margin: 0px 30px 0px 10px;
            @include responsive1{
                border-radius: 10px;
            }
           
            .menuicon{
                font-size: 20px;
                margin-right: 5px;
                @include responsive1{
                    margin-left: 5px;
                    font-size: 25px;
                    margin-right: 10px;
                }
            }
            .menu-title{
                font-size: 16px;
                margin-right: 69px;
                @include responsive1{
                    font-size: 22px;
                    margin-right: 140px;
                    display: none;
                }
                @include responsive2{
                    display: none;
                }
                @include responsive3{
                    display: none;
                }
                @include responsive4{
                    display: none;
                }
            }
            .micon{
                @include responsive1{
                    display: none;
                }
                @include responsive2{
                    display: none;
                }
                @include responsive3{
                    display: none;
                }
                @include responsive4{
                    display: none;
                }
            }
           
        }
        .c{
            .list-g{
               position: relative;
                // display: table;
              
                padding: 0px;
                margin: 17px 0px 8px 0px;
                
                
                .list-item{
                    display: inline;
                    padding: 10px 80px 10px 25px;
                    // display: table-cell;
                    border: 1px solid $gray;
                    background-color:$gray;
                    @include responsive1{
                        display: block;
                    }
                    @include responsive2{
                        display: block;
                        padding: 10px 180px 10px 14px;
                    }
                    @include responsive3{
                        display: block;
                        padding: 10px 180px 10px 14px;
                    }
                 
            
            
                
                    a{
                       
                        color: black;
                        font-size: 15px;
                        font-weight: 500;  
                        &:hover{
                            color: #7FBA32;
                        } 
                    }
                }
            }
        }
      
        .searchitem{
            display: flex;
            input:focus{
                outline: none;
            }
           
            #s-item{
                width: 83%;
                padding: 10px 12px;
                border-radius: 5px;
                border: 1px solid #F4F7F9;
                font-size: 15px;
                margin-left:108px;
                @include responsive1{
                    margin-left: 40px;
                   
                }
                @include responsive2{
                    margin-left: 60px;
                }
                @include responsive3{
                    margin-left: 80px;
                }
                
            }
            .search{
                background-color: #7FBA32;
                border: none;
                padding: 5px 14px;
                border-radius: 5px;
                margin: 4px 0px 5px -58px;
                @include responsive1{
                    margin: 0px 0px 1px -55px;
                   
                }
                i{
                    font-size: 15px;
                    color: white;
                    margin: 5px;
                }
            }
           
        }
        .dataResult{
            z-index: 999;
            position: absolute;
            @include responsive1{
                margin-left: 25px;
            }
            @include responsive2{
                margin-left: 58px;
            }

            h6{
                font-weight: 400;
                font-size: 14px;
                margin: 0px;
                letter-spacing: 1px;
                border: 1px solid #F4F7F9;
            }
            background-color: white;
            margin-left: 108px;
            width: 504px;
            height: auto;
            overflow: hidden;
            overflow-y: auto;
            border: 1px solid #F4F7F9;
            @include responsive1{
                width: 227px;
            }
            @include responsive2{
                width: 227px;
            }
   
            .dataItem{
                color: black;
                padding: 10px;
                font-size: 13px;
                letter-spacing: 1px;
                &:hover{
                    background-color: #F4F7F9;
                }
            }
            
        }
        .cart-icon{
            margin: 5px 0px 0px 116px;
            @include responsive1{
                margin:20px 0px 10px 86px;
            }
            @include responsive2{
               
                display: flex;
            }
            @include responsive3{
               
                display: flex;
            }
            @include responsive4{
                display: flex;
            }
            .wishlist{
                font-size: 20px;
                background-color: $gray;
                margin: 5px;
                padding: 12px;
                border-radius:10px;
                &:hover{
                    background-color: #7FBA32;
                }
                i{
                    color: black;
                  
                }
            }
            .user{
                font-size: 20px;
                background-color: $gray;
                margin: 5px;
                padding: 12px;
                border-radius: 10px;
                &:hover{
                    background-color: #7FBA32;
                }
               
                i{
                    color: black;
                  
                }

            }
            .cart{
                font-size: 20px;
                background-color: $gray;
                margin: 5px;
                padding: 12px;
                border-radius: 10px;
                &:hover{
                    background-color:#7FBA32;
                }
               
                i{
                    color: black;
                   
                   
                }
            }

        }

    }
}
.pagination{
    .page-item{
        
        
        a{
            color: black;
            &:hover{
                color: #7FBA32;
            }
           
        }
    }
   
}
